@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff'); // Relative to main.scss
    font-weight: normal;
    font-style: normal;
}