.artist-bio {
    max-width: 500px;
    margin: 0 auto;

    font-family: $font-stack-alt;
    color: $font-color-primary;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: justify;
}