.contact {
    text-align: center;
    padding: 20px 0 0 0;

    .contact-container {
        display: inline-block;
        width: 80%;
        max-width: 450px;
        padding: 80px 0 20px 0;

        .contact-header {
            font-size: 22px;
            font-family: $font-stack;
            color: $font-color-primary;
            letter-spacing: 4px;
        }
    }
}

