.home {
    height: 100vh;

    .logo-container {
        position: absolute;
        top: 25%;
        width: 100%;
        text-align: center;

        img {
            width: 700px;
            height: auto;
        }
    }
}