.main {
    background-color: $bg-color-primary;
    
    .content {
        position: relative;
        min-height: 100vh;
    }
}

.fade-left-appear, .fade-right-appear {
    opacity: 0;

    &.fade-left-appear-active, &.fade-right-appear-active {
        opacity: 1;
    }

    transition: opacity 0.5s ease-in-out;    
}

.fade-left-enter {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(20px);

    &.fade-left-enter-active {
        opacity: 1;
        transform: translateX(0px);
    }

    transition: all 0.25s ease-in-out 0.25s;
}

.fade-right-enter {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(-20px);

    &.fade-right-enter-active {
        opacity: 1;
        transform: translateX(0px);
    }

    transition: all 0.25s ease-in-out 0.25s;
}

.fade-left-leave, .fade-right-leave {
    position: absolute;
    width: 100%;
    opacity: 1;

    &.fade-left-leave-active, &.fade-right-leave-active {
        opacity: 0;
    }

    transition: opacity 0.25s ease-in-out;
}